---
title: Home
layout: default
permalink: /
---
<link rel="stylesheet" href="/assets/css/home.css">
<section id='about'>
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-lg-5">
                <img src="/assets/img/io.png" class='img-responsive' alt="" style="float: left;">
            </div>
            <div class="offset-lg-1 col-lg-5 ">
                <p class="top-text text-uppercase">
                    ABOUT ME
                </p>
                <p class='title text-uppercase'>Alessandro Mizzaro</p>
                <p class="section-text">
                    I'm a Computer science Studedent at the <a href="https://unitn.it/">University of Trento</a>. My main interest are web programming and web security.<br>
                    In 2019 attended <a href="https://cyberchallenge.it/">CyberchallengeIT</a> the first cybersecurity training program for students and, next year, i will be instructor and organizer of this course at <a href="https://cyberchallenge.it/venues/unipd">UniPD</a>
                    Now I am the CTO and the Web Developer at Sydus, a startup that is developing in the AI world. <br><br>
                    I'm developing mainly with Flask(Python) or Laravel(PHP) but I am always beeing strongly committed to expand my knowledge.
                </p>
                <a href="{{site.cv}}" target="_blank" class='btn primary-btn'>VEDI CV</a>
            </div>
        </div>
    </div>
</section>
<section id='services'>
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-12">
                <p class="top-text text-uppercase">
                    MY SERVICES
                </p>
                <p class="title text-uppercase">What I do</p>
            </div>
        </div>
        <div class="row justify-content-start align-items-flex text-center d-flex" id="item-list">
            <div class="col-lg-6 mb-4">
                <div class="card item">
                    <i class="fas fa-code"></i>
                    <div class="card-body">
                        <h5 class="card-title text-uppercase">Web APP</h5>
                        <p class="card-text">Web App design and developing with modern architectures and stardars for e-commerce, management software or other applications</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 item mb-4">
                <div class="card item">
                    <i class="fas fa-database"></i>
                    <div class="card-body">
                        <h5 class="card-title text-uppercase">DataBase</h5>
                        <p class="card-text"> Database design and management</p>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% assign count_posts = site.posts | size %}
{% if count_posts >0 %}
<section id='blog'>
{%else%}
<section id='blog' style="height: 70vh;">
{%endif%}
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-12">
                <p class="top-text text-uppercase">
                    blog
                </p>
                <p class="title text-uppercase">Last news</p>
            </div>
        </div>
        <div class="row justify-content-start align-items-flex text-center d-flex" id="item-list">
            
            {% if count_posts >0 %}
                {% for post in site.posts limit:3 %}
                <div class="col-lg-4 item mb-4">
                    <div class="card item">
                        {% if post.featured-image %}
                        <div class="thumbnail">
                            <img src="/assets/img/posts/{{post.featured-image}}" alt="" class="card-img-top img-fluid img-responsive embed-responsive-item">
                        </div>

                        {% else %}
                        <i class="fas fa-database"></i> {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{post.title}}</h5>
                            <p class="card-text">
                                {{ post.content | markdownify | strip_html | truncate: 80 }}

                            </p>

                        </div>
                        <a href='{{post.url}}' class='primary-btn btn'> Read more</a>
                    </div>
                </div>
                {% endfor %}
            {%else%}
                <div class="col-lg-4 offset-lg-4 item mb-4">
                    There is no posts :(
                </div>
            {%endif%}
        </div>
    </div>
</section>
<section id="cc">
    <div class="blockquote-wrapper">
  <div class="blockquote">
    <h1>
        Give me a<span style="color:#ffffff">&lsquo;</span> and a <span style="color:#ffffff">query</span> and I <span style="color:#ffffff">~~500 INT3RNAL SERVER ERROR~@</span> 
     </h1>
    
  </div>
</div>
</section>
