---
title: Home
layout: default
permalink: /
---
<link rel="stylesheet" href="/assets/css/home.css">
<section id='about'>
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-lg-5">
                <img src="/assets/img/io.png" class='img-responsive' alt="" style="float: left;">
            </div>
            <div class="offset-lg-1 col-lg-5 ">
                <p class="top-text text-uppercase">
                    ABOUT ME
                </p>
                <p class='title text-uppercase'>Alessandro Mizzaro</p>
                <p class="section-text">
                      Sono un programmatore web che aiuta le piccole e grandi imprese nella scelta e nello sviluppo di sistemi informativi e informatici come applicazioni web, rest api e altri strumenti.<br><br>
Attualmente lavoro come CTO e sviluppatore in Aster(R) una start up che lavora nel mondo degli assistenti vocali.<br><br>
Amo provare e sviluppare idee e tecnologie come un nuovo framework più efficiente o sviluppare una nuova libreria.<br>Ora sviluppo principalmente con Flask(Python) e Laravel(PHP), ma sono propenso nell'imparare cose nuove e stimolanti
                </p>
                <a href="{{site.cv}}" target="_blank" class='btn primary-btn'>VEDI CV</a>
            </div>
        </div>
    </div>
</section>
<section id='services'>
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-12">
                <p class="top-text text-uppercase">
                    MY SERVICES
                </p>
                <p class="title text-uppercase">Cosa offro</p>
            </div>
        </div>
        <div class="row justify-content-start align-items-flex text-center d-flex" id="item-list">
            <div class="col-lg-6 mb-4">
                <div class="card item">
                    <i class="fas fa-code"></i>
                    <div class="card-body">
                        <h5 class="card-title text-uppercase">Web APP</h5>
                        <p class="card-text"> Design e Sviluppo di Web App, come REST api, principalmente per e-commerce e gestionali web per aziende utilizzando gli standard più moderni.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 item mb-4">
                <div class="card item">
                    <i class="fas fa-database"></i>
                    <div class="card-body">
                        <h5 class="card-title text-uppercase">DataBase</h5>
                        <p class="card-text"> Design e Sviluppo di Database MySQL o SQLServer per qualsiasi utilizzo.</p>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section id='blog'>
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-12">
                <p class="top-text text-uppercase">
                    blog
                </p>
                <p class="title text-uppercase">Utilme notizie</p>
            </div>
        </div>
        <div class="row justify-content-start align-items-flex text-center d-flex" id="item-list">
            {% assign count_posts = site.posts | size %}
            {% if count_posts >0 %}
                {% for post in site.posts limit:3 %}
                <div class="col-lg-4 item mb-4">
                    <div class="card item">
                        {% if post.featured-image %}
                        <div class="thumbnail">
                            <img src="/assets/img/posts/{{post.featured-image}}" alt="" class="card-img-top img-fluid img-responsive embed-responsive-item">
                        </div>

                        {% else %}
                        <i class="fas fa-database"></i> {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{post.title}}</h5>
                            <p class="card-text">
                                {{ post.content | markdownify | strip_html | truncate: 80 }}

                            </p>

                        </div>
                        <a href='{{post.url}}' class='primary-btn btn'> Read more</a>
                    </div>
                </div>
                {% endfor %}
            {%else%}
                <div class="col-lg-4 offset-lg-4 item mb-4">
                    Non sono presenti post
                </div>
            {%endif%}
        </div>
    </div>
</section>
