--- 
title: Recensioni 
layout: page 
permalink: /review 
---
<link rel="stylesheet" href="/assets/css/review.css">
<div class="container">

    <div class="row">
        <div class="col-lg-7" id='review' >

            <p class="top-text text-uppercase">REVIEWS</p>
            <p class="title">Ultime recensioni</p>
            {% assign count_posts = site.data.reviews | size %}
            {% if count_posts >0 %}
                {% assign comments = site.data.reviews | sort %} {% for comment in comments reversed limit:3%} {% assign commentData = comment[1] %}
                <div class="review-item">
                        <div class="review-title">
                        <small class="title">{{ commentData.name }} | {{ commentData.professione }} <small style='float: right;'>{{ commentData.date | date_to_long_string }}</small></small>
                        </div>
                        <div class="review-text" style='flex:1'>

                        <p> {{ commentData.message }}</p>
                        </div>
                </div>
                {% endfor %}
           {%else%}
                <p> Non ci sono recensioni. Sii il primo a lasciarne una</p>
           {%endif%}

        </div>
        <div class="col-lg-4 offset-lg-1">
                        <p class="top-text text-uppercase">LASCIA UNA RECENSIONE</p>
                        <p class="title">Scrivi</p>
                        <form action="https://api.staticman.net/v3/entry/github/Alemmi/gh-pages/master/comments" method="POST">
                            <input name="options[redirect]" type="hidden" value="https://alessandromizzaro.me/review">
                            <input type="hidden" name="options[slug]" value="reviews">
                            <div class="form-group">
                                <input type="text" class="form-control" name="fields[name]" id="name" placeholder="Nome e Congnome">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="fields[professione]" id="professione" placeholder="Professione">
                            </div>
        
                            <div class="form-group">
                                <label for="text">Com'era Alessandro?: </label>
                                <textarea class="form-control" name='fields[message]' id="text" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn primary-btn">Aggiungi</button>
                        </form>
        
                    </div>

    </div>
    <div class="row">
       
           
            
        
    </div>
</div>
