<header id="home" class='header-area'>
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-6 text-left" id="left">
                <small class="font-weight-light text-muted ">DEV</small>
                <p class="font-weight-bold text-uppercase">Alessandro Mizzaro</p>
                <small class="font-weight-light lead subtitle">PYTHON & PHP DEVELOPER</small>
               
                <div class="social text-center">
                    <a href="https://github.com/{{site.github_username}}" target="_blank"><i  class="fab fa-github text-center"></i></a>
                    <a href="https://twitter.com/{{site.twitter_username}}" target="_blank"><i class="fab fa-twitter text-center"></i></a>
                    <a href="mailto:{{site.email}}" target="_blank"><i class="fas fa-envelope text-center"></i></a>
                    <a href="https://www.linkedin.com/in/{{site.linkedin_username}}" target="_blank"><i class="fab fa-linkedin"></i></a>
                </div>
                
                <div id='btn-container' class="spy" >
                    <a href="/#about" id='btn-header' class='btn primary-btn '>SEE MY WORK</a>
                </div>
                
                
            </div>
            <div class="col-lg-6 text-center">
               
            </div>
        </div>
    </div>
</header>
